@using Epicurious.Domain.Entities
@model IEnumerable<Recipe>
@{
    ViewData["Title"] = "Recipes";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/image.css" />
}

<div class="container mt-3">
    <h2>Recipes</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Ingredients</th>
                <th>Description</th>
                <th>Like Count</th>
                <th>Created By</th>
                <th>Created On</th>
                <th>Image</th>
                <th width="20px">Update</th>
                <th width="20px">Delete</th>
                <th width="20px">Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in Model.OrderBy(r => r.Title))
            {
                <tr>
                    <td>@recipe.Title</td>
                    <td>@recipe.Ingredients</td>
                    <td>@recipe.Description</td>
                    <td>@recipe.Likes.Count</td>
                    <td>@recipe.User.UserName</td>
                    <td>@recipe.CreatedOn</td>
                    <!-- index.cshtml dosyanızdaki ilgili bölüm -->
                    <td>
                        <div class="custom-image recipe">
                            <img src="@recipe.ImageUrl" alt="Description of the image">
                        </div>
                    </td>


                    <td><a href="/recipe/UpdateRecipe/@recipe.Id" class="btn btn-success">Update</a></td>
                    <td><a href="/recipe/DeleteRecipe/@recipe.Id" class="btn btn-danger">Delete</a></td>
                    <td><a href="/recipe/RecipePage/@recipe.Id" class="btn btn-primary">Go to Page</a></td>

                </tr>
            }
        </tbody>
    </table>
</div>
