@model Epicurious.Domain.Entities.Recipe

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/image.css" />
}

<h1>Recipe Page</h1>

<!-- Display recipe details -->

<h2>@Model.Title</h2>
<h2>@Model.Id</h2>

<div>
    <img width="250px" src="@Model.ImageUrl" alt="Description of the image">
</div>

<!-- Add other recipe details as needed -->
@if (Model.Likes.Any())
{
    <p>Starred by:</p>
    <ul>
        @foreach (var star in Model.Likes)
        {
            <li>@star.UserId</li>
        }
    </ul>
}
else
{
    <p>No stars yet.</p>
}

<!-- Add a button or link to star/unstar the recipe -->
<form method="post" action="@Url.Action("StarRecipe", "Like")">
    <input type="hidden" name="recipeId" value="@Model.Id" />
    <button type="submit">Star Recipe</button>
</form>

<form method="post" action="@Url.Action("UnstarRecipe", "Like")">
    <input type="hidden" name="recipeId" value="@Model.Id" />
    <button type="submit">Unstar Recipe</button>
</form>