@using Epicurious.Domain.Entities
@model IEnumerable<Recipe>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyazR3eT0p4CggcmJPQlDdd1uP6I9YBbn"
          crossorigin="anonymous">
    <title>Recipe Sharing</title>

    <!-- Custom Styles -->
    <style>
        .hero {
            background-color: #fff; /* Set the background color to white */
            color: #000; /* Set the text color to black */
            padding: 100px 0; /* Add some padding for spacing */
        }
    </style>
</head>

<body>

    <!-- Hero Section -->
    <section class="hero text-center">
        <div class="hero-content">
            <h1 class="display-4">Welcome to Epicurious</h1>
            <p class="lead">Discover, share, and explore delicious recipes from around the world.</p>
            <a href="/recipe/" class="btn btn-primary">Explore Recipes</a>
        </div>
    </section>

    <!-- Featured Recipe Section -->
    <section class="container mt-5">
        <div class="row">
            @foreach (var recipe in Model.Take(1))
            {
                <div class="col-lg-8 mb-4">
                    <div class="card">
                        <img src="@recipe.ImageUrl" class="card-img-top" alt="@recipe.Title">
                        <div class="card-body">
                            <h5 class="card-title">@recipe.Title</h5>
                            <p class="card-text">@recipe.Description</p>
                            <a href="/recipe/recipepage/@recipe.Id" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>

    <!-- Recipe Grid -->
    <section class="container mt-5">
        <h2>Latest Recipes</h2>
        <div class="row">
            @foreach (var recipe in Model)
            {
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="@recipe.ImageUrl" class="card-img-top" alt="@recipe.Title">
                        <div class="card-body">
                            <h5 class="card-title">@recipe.Title</h5>
                            <p class="card-text">
                                @recipe.Description
                            </p>
                      @*       <p class="card-text">
                                Likes: @recipe.Likes.Count
                            </p> *@
                            <a href="/recipe/recipepage/@recipe.Id" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- Repeat this block for more recipes -->
            }

        </div>
    </section>

</body>

</html>
